*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

//INPUT

input {
  width: 100%;
}

// CONTAINER

.container {
  min-width: $minWidth;
  position: relative;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 $mobile-gap;
  }

  @media (min-width: $tablet) {
    max-width: $maxContainerTablet;
    width: 100%;
    padding: 0 $min-gap;
  }

  @media (min-width: $tabletMax) {
    max-width: 100%;
    width: 100%;
    padding: 0 $tablet-gap;
  }

  @media (min-width: $desktop) {
    max-width: $maxContainerDesktop;
    width: 100%;
    padding: 0 $min-gap;
  }

  @media (min-width: $desktopMax) {
    max-width: $maxWidthContainer;
    width: 100%;
    padding: 0 $desktop-gap;
  }
}

.container-form {
  min-width: $minWidth;
  position: relative;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 $mobile-gap;
  }

  @media (min-width: $tablet) {
    max-width: $maxContainerTablet;
    width: 100%;
    padding: 0 $min-gap;
  }

  @media (min-width: $tabletMax) {
    max-width: 100%;
    width: 100%;
    padding: 0 75px;
  }

  @media (min-width: $desktop) {
    max-width: $maxContainerDesktop;
    width: 100%;
    padding: 0 20px;
  }
}

.catalog-container {
  min-width: $minWidth;
  position: relative;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 $mobile-gap;
  }

  @media (min-width: $tablet) {
    max-width: $maxContainerTablet;
    width: 100%;
    padding: 0 $min-gap;
  }

  @media (min-width: $tabletMax) {
    max-width: 100%;
    width: 100%;
    padding: 0 74px;
  }

  @media (min-width: $desktop) {
    max-width: $maxContainerDesktop;
    width: 100%;
    padding: 0 $min-gap;
  }

  @media (min-width: $desktopMax) {
    max-width: $maxWidthContainer;
    width: 100%;
    padding: 0 126px;
  }
}

.left {
  grid-column: 1 / 2;
}

.rigth {
  grid-column: 2 / 3;
}

.full-width {
  grid-column: 1 / -1;
}

//TEXT LAYOUT

.text-layout {
  padding: 0 25px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 0 34px;
  }
}

// BREAK

.mobile-break {
  display: none;

  @media (max-width: 325px) {
    display: block;
  }
}

.tablet-break {
  display: none;

  @media (min-width: $tablet) and (max-width: 775px) {
    display: block;
  }
}

.desktop-break {
  display: none;

  @media (min-width: $desktop) and (max-width: 1445px) {
    display: block;
  }
}

// HIDE / SHOW

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.js-spoller-hidden {
  @media (max-width: $tablet) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.disabled {
  pointer-events: none;
}

// IMG

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

// BTN

button {
  cursor: pointer;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
}

// LINK

.no-style {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

// TITLE

.item-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 2px 0;
  text-decoration: none;
  color: $main-blue-light;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 22px;
  }
}
