.companiones {
  position: relative;
  z-index: 4;
  padding-top: 30px;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;

  background-image: url("../img/сompaniones.webp"), url("../img/сompaniones-bg.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: 86% 65px, 0% 6.5%;
  background-size: 143px 143px, 115px 344px;
  background-color: $main-blue;

  @media (max-width: $tablet) {
    padding-top: 76px;

    .header-section__add-text {
      margin-top: 21px;
    }
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    @include section-radiuse;
    padding-top: 80px;
    background-image: url("../img/companiones-tablet.webp"), url("../img/companiones-bg-tablet.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: 84% 110px, 7% 12.5%;
    background-size: 285px 285px, 212px 498px;

    .header-section__add-text {
      margin-top: 43px;
    }
  }

  @media (min-width: $desktop) {
    @include section-radiuse;
    background-color: $main-blue;
    background-image: url("../img/companiones-desktop.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: 7% 99px;
    background-size: 630px 601px;

    .header-section__add-text {
      margin-top: 39px;
      font-size: 21px;
      line-height: 24px;
    }

    .companiones__list {
      margin-left: 30px;
      margin-top: 46px;
    }
  }
}

.companiones__container {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "companiones__header companiones__list"
      "companiones__more-btn companiones__list";
    padding-top: 87px;
    padding-bottom: 46px;
  }
}

.companiones__header {
  grid-area: companiones__header;
  margin-bottom: 50px;

  @media (max-width: $tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 60px;
  }
}

.companiones__header-title {
  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-top: 87px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 56px;
  }
}

.companiones__header-text,
.companiones__header-add-text {
  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 70%;
  }

  @media (min-width: $desktop) {
    width: 80%;
  }
}

.companiones__title {
  margin: 34px 0 19px;
}

.companiones__list {
  grid-area: companiones__list;
  display: grid;
  gap: 9px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  justify-items: center;

  @media (min-width: 620px) {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  @media (min-width: $tablet) {
    max-width: 620px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    gap: 60px;
  }
}

.companiones__more-btn {
  grid-area: companiones__more-btn;
  margin: 20px auto 31px;
  max-width: 630px;

  @media (max-width: 620px) {
    max-width: 379px;
  }

  @media (max-width: $tablet) {
    min-width: 270px;
    margin: 20px auto 30px;
  }

  @media (min-width: $tablet) {
    width: 90%;
    max-width: 620px;
    margin: 81px auto 87px;
  }

  @media (min-width: $desktop) {
    min-width: 280px;
    margin: 16px 0 87px 70px;
  }
}
