.countries {
  background-color: $light-blue;
  margin-top: -50px;
  padding-top: 50px;
  color: $grey;
  border-radius: 30px;
  z-index: 5;

  @media (max-width: $tablet) {
    padding-top: 48px;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    @include section-radiuse;
    margin-top: -90px;
    padding-top: 90px;

    background-image: url("../img/countries-tablet.webp"), url("../img/countries-bg-tablet.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: 91% 170px, 6% 47.5%;
    background-size: 288px 574px, 141px 141px;
  }

  @media (min-width: $desktop) {
    @include section-radiuse;
    margin-top: -75px;

    background-image: url("../img/countries-tablet.webp"), url("../img/countries-bg-tablet.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: 95% 164px, 4.5% 24.5%;
    background-size: 288px 574px, 141px 141px;
  }
}

.countries__container {
  @media (min-width: $tablet) {
    padding-bottom: 80px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "countries__list countries__header"
      "countries__list countries__more-btn ";
    row-gap: 32px;
    column-gap: 59px;
    padding-top: 50px;
    padding-bottom: 103px;
  }
}

.countries__header {
  grid-area: countries__header;

  @media (min-width: $desktop) {
    margin-left: 43px;
    padding-right: 137px;
  }
}

.countries__title {
  margin-top: 71px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin-top: 138px;
    margin-bottom: 58px;
  }
}

.countries__header-text {
  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 60%;
  }
}

.countries__list {
  grid-area: countries__list;
  list-style: none;
  display: grid;
  margin: 61px 0 0;
  padding: 0;

  @media (min-width: $tablet) {
    gap: 11px;
    margin: 107px 0 45px;
    padding: 0 34px;
  }

  @media (min-width: $desktop) {
    min-width: 560px;
    padding: 0 0 0 70px;
    margin-top: 136px;
  }
}

.countries__more-btn {
  grid-area: countries__more-btn;
  margin: 25px 0 34px;

  @media (max-width: $tablet) {
    width: 90%;
    min-width: 270px;
    margin: 15px auto 34px;
    justify-items: start;
  }

  @media (min-width: $tablet) {
    margin: 0 34px;
    min-height: 82px;
  }

  @media (min-width: $desktop) {
    min-width: 275px;
    height: fit-content;
    margin-left: 113px;
  }
}
