<dl class="contacts">
  <div class="contacts__item">
    <dt class="contacts__item-img">
      <svg width="18" height="17" viewBox="0 0 17 15">
        <use xlink:href="img/svg/sprite.min.svg#icon-tel-2"></use>
      </svg>
    </dt>
    <dd class="no-style">
      <a class="contacts__link  no-style" href="tel:8800555862">
        8 800 555-86-28
      </a>
    </dd>
  </div>
  <div class="contacts__item">
    <dt class="contacts__item-img">
      <svg width="18" height="12" viewBox="0 0 19 13">
        <use xlink:href="img/svg/sprite.min.svg#icon-email-2"></use>
      </svg>
    </dt>
    <dd class="no-style">
      <a class="contacts__link  no-style" href="mailto:mail@htmlacademy.ru">
        mail@htmlacademy.ru
      </a>
    </dd>
  </div>
</dl>
<!-- drop-nav__contact-list  contacts -->
